@page
@model IndexModel
@{
    ViewData["Title"] = "Jaguar Remote Alexa skill";
}

    <div class="text-center">
        <h1 class="display-4">Jaguar Remote and Alexa!</h1>
        <p>Welcome to the Unofficial Jaguar Remote Alexa Skill login page</p>
        <p>Please see the privacy guide for details of how use your information</p>
    </div>
