@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The information you enter into the login page is ONLY used for interactions with the Jaguar Remote</p>
<p>It will never be used for marketing or any other purposes</p>
<p>Your password is NOT saved anywhere in the system and is used for a one time verification</p>
